{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head></head>

<body class="sub_page">
  <form method="POST" name="login" action="{% url 'change-password' %}" enctype="multipart/form-data">
    {% csrf_token %}
  <!-- contact section -->
  <section class="contact_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <div style="margin-top: 50px;"><h2>
                Change <span>Password</span>
              </h2></div>
      </div>
      {% if msg %}
          <b style=" color: darkred;">{{msg}}</b>
      {% endif %}
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" name="old-password" placeholder="Old Password" />
              </div>
              <div>
                <input type="password" name="new-password" placeholder="New Password" />
              </div>
              <div>
                <input type="password" name="c-password" placeholder="Comfirm Password" />
              </div>
              <div class="btn_box">
                <button>
                  Change Password
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5">
          <div class="img-box">
            <img src="{% static 'images/contact-img.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
</form>
</body>

</html>
{% endblock %}