{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head></head>

<body class="sub_page">
  <form method="POST" name="contact" action="{% url 'contact' %}">
    {% csrf_token %}
  <!-- contact section -->
  <section class="contact_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container" style="margin-top: 40px;">
        <h2>
          Get In Touch
        </h2>
      </div>
      {% if msg %}
          <b style=" color: darkred;">{{msg}}</b>
      {% endif %}
      <div class="row">
        <div class="col-md-7">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" name="name" placeholder="Full Name" />
              </div>
              <div>
                <input type="email" name="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" name="mobile" placeholder="Phone Number" />
              </div>
              <div>
                <input type="text" name="message" class="message-box" placeholder="Message" />
              </div>
              <div class="btn_box">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5">
          <div class="img-box">
            <img src="{% static 'images/contact-img.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
</form>
</body>

</html>
{% endblock %}