{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head></head>

<body class="sub_page">

  <!-- contact section -->
  <section class="contact_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <div style="margin-top: 50px;"><h2>
                Patient <span>Profile</span>
              </h2></div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="form_container">
            {% if msg %}
              <b style=" color: darkred;">{{msg}}</b>
            {% endif %}
            <form action="{% url 'profile' %}" method="POST" name="singup" enctype="multipart/form-data">
              {% csrf_token %}
              <div>
                <input type="text" name="fname" value="{{user.fname}}" />
              </div>
              <div>
                <input type="text" name="lname" value="{{user.lname}}" />
              </div>
              <div>
                <input type="text" name="mobile"value="{{user.mobile}}" />
              </div>
              <div>
                <input type="text" name="gender" value="{{user.gender}}" />
              </div>
              <div>
                <input type="text" name="address" class="message-box" value="{{user.address}}" />
              </div>
              <div>
                <input type="email" name="email" value="{{user.email}}"  readonly />
              </div>
              <div>
                <img src="{{user.profile_pic.url}}" height="70px" width="70px">
              </div>
              <div>
                <input type="file" name="profile_pic">
              </div>
              <div class="btn_box">
                <button>
                  Update Profile
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5">
          <div class="img-box">
            <img src="{% static 'images/treatment-side-img.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
</body>

</html>
{% endblock %}